/*!************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/components/LateralMenu.module.css ***!
  \************************************************************************************************************************************************************************************************************************************************************************************/
.LateralMenu_container__pzobR {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  height: 100vh;
  position: fixed;
  background: var(--mediumBlue);
  border-radius: 0 0 80px 0;
  gap: 2rem;
}

.LateralMenu_container__pzobR li {
  width: 100%;
  border: 1px solid white;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.LateralMenu_container__pzobR nav {
  width: calc(100% - 2px);
}

.LateralMenu_container__pzobR ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.LateralMenu_container__pzobR img {
  margin: 10px 0;
}

.LateralMenu_container__pzobR a {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LateralMenu_active__Hul0K {
  background: linear-gradient(
    to right,
    var(--primary),
    var(--secondary)
  ) !important;
}

.LateralMenu_submenu__ABdWb {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.LateralMenu_submenu__ABdWb ul {
  width: 100%;
}

.LateralMenu_submenu__ABdWb li {
  padding: 10px 0;
  background-color: var(--mediumBlue);
  border: none;
  border-bottom: 1px solid white;
}

.LateralMenu_submenu__ABdWb span {
  color: white;
  text-decoration: none;
}

.LateralMenu_selected__0g1uc {
  background-color: var(--darkBlue) !important;
}

.LateralMenu_option__b2iZq {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.LateralMenu_dropDown__pZaXz {
  position: absolute;
  top: 15px;
  right: 10px;
}

/*!***********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/components/MobileMenu.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************/
.MobileMenu_menu__c2ky5 {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  width: 100vw;
}

.MobileMenu_menu__c2ky5 ul {
  display: flex;
  padding: 0;
  list-style: none;
  overflow: hidden;
  margin: 0;
  border-radius: 100px 100px 70px 70px;
}

.MobileMenu_menu__c2ky5 li {
  background-color: var(--mediumBlue);
  width: 25%;
  padding: 15px 0;
  border-right: 1px solid white;
  border-left: 1px solid white;
}

.MobileMenu_active__grUSF {
  background: linear-gradient(
    to right,
    var(--primary),
    var(--secondary)
  ) !important;
}

.MobileMenu_submenu__Bt7hY {
  position: fixed;
  top: 100px;
  border-radius: 0 !important;
  width: 100vw;
}

.MobileMenu_submenu__Bt7hY ul {
  justify-content: start;
  margin: 0;
  border-radius: 0;
}

.MobileMenu_submenu__Bt7hY li {
  background-color: var(--mediumBlue);
  width: auto;
  padding: 8px 22px;
  max-width: 250px;
  font-size: 1.4rem;
  color: white;
  border-radius: 50px 50px 0 0;
  border: 1px solid white;
  text-align: center;
}

.MobileMenu_icon__vnv6p {
  display: flex;
  justify-content: center;
}

.MobileMenu_selected__uvO8k {
  background-color: var(--darkBlue) !important;
  border-bottom: 1px solid var(--darkBlue) !important;
}

/*!********************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./app/ui/components/TopMenu.module.css ***!
  \********************************************************************************************************************************************************************************************************************************************************************************/
.TopMenu_container___UYSI {
  position: fixed;
  width: calc(100% - 260px);
  margin-left: 260px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.TopMenu_container___UYSI input {
  border-radius: 50px;
  padding: 10px 50px 10px 20px;
  display: flex;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font);
  width: calc(100% - 70px);
}

.TopMenu_form__rVndw input::placeholder {
  color: var(--lightGray);
}

.TopMenu_searchBar__JDpai {
  width: 50%;
  position: relative;
  margin-left: 10%;
}

.TopMenu_searchIcon__cChuC {
  position: absolute;
  top: 8px;
  right: 10px;
}

.TopMenu_icons__K8UvG {
  display: flex;
  gap: 10px;
  align-items: center;
}

.TopMenu_icons__K8UvG img {
  cursor: pointer;
}

.TopMenu_searchMobile___Fm30 {
  position: absolute;
  width: 100%;
  height: calc(100vh - 165px);
  top: 84px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-top: 10px;
}

.TopMenu_notifications___4rxT {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100vw;
  top: 84px;
  left: -260px;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.TopMenu_notifications___4rxT li {
  width: calc(100% - 30px);
  border: 1px solid white;
  font-size: 1.4rem;
  color: white;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.TopMenu_popUp__FXBqY {
  background-color: var(--darkBlue);
  border: 2px solid white;
  width: 500px;
  margin: 0;
  height: -moz-fit-content;
  height: fit-content;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.TopMenu_popUp__FXBqY ul {
  list-style: none;
  padding: 0;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  scrollbar-width: none;
}

.TopMenu_popUp__FXBqY ul::-webkit-scrollbar {
  display: none; 
}

.TopMenu_popUp__FXBqY input {
  width: 80%;
  padding: 10px 20px;
}

.TopMenu_popUp__FXBqY button {
  width: 50%;
  color: white;
}

.TopMenu_popUpContainer__2BHct {
  position: relative;
}

.TopMenu_triangle__S9kCa {
  position: absolute;
  z-index: 1;
  top: 45px;
  right: -5px;
}

.TopMenu_circle__i71CE {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  z-index: 4;
}

@media screen and (max-width: 768px) {
  .TopMenu_container___UYSI {
    position: fixed;
    width: 100%;
    margin-left: 0;
    border-bottom: none;
  }

  .TopMenu_searchBar__JDpai {
    width: 40%;
    margin-left: 0;
  }

  .TopMenu_icons__K8UvG {
    gap: 5px;
  }

  .TopMenu_notifications___4rxT {
    justify-content: center;
    width: 100%;
    height: calc(100vh - 165px);
    left: 0;
  }

  .TopMenu_popUp__FXBqY {
    width: calc(100% - 40px);
    gap: 20px;
    margin: 0 20px;
  }

  .TopMenu_popUp__FXBqY ul {
    max-height: calc(100vh - 185px);
  }
}

