.container {
  position: fixed;
  width: calc(100% - 260px);
  margin-left: 260px;
  display: flex;
  justify-content: space-around;
  padding: 20px 0;
  border-bottom: 1px solid white;
}

.container input {
  border-radius: 50px;
  padding: 10px 50px 10px 20px;
  display: flex;
  text-align: center;
  font-size: 1.4rem;
  font-family: var(--font);
  width: calc(100% - 70px);
}

.form input::placeholder {
  color: var(--lightGray);
}

.searchBar {
  width: 50%;
  position: relative;
  margin-left: 10%;
}

.searchIcon {
  position: absolute;
  top: 8px;
  right: 10px;
}

.icons {
  display: flex;
  gap: 10px;
  align-items: center;
}

.icons img {
  cursor: pointer;
}

.searchMobile {
  position: absolute;
  width: 100%;
  height: calc(100vh - 165px);
  top: 84px;
  backdrop-filter: blur(5px);
  margin-top: 10px;
  z-index: 100000;
}

.notifications {
  position: absolute;
  height: calc(100vh - 100px);
  width: 100vw;
  top: 84px;
  left: -260px;
  backdrop-filter: blur(5px);  
  z-index: 10000;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
}

.notifications li {
  width: calc(100% - 30px);
  border: 1px solid white;
  font-size: 1.4rem;
  color: white;
  padding: 20px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.popUp {
  background-color: var(--darkBlue);
  border: 2px solid white;
  width: 500px;
  margin: 0;
  height: fit-content;
  margin-right: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0;
}

.popUp ul {
  list-style: none;
  padding: 0;
  width: 100%;
  height: fit-content;
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  margin: 0;
  scrollbar-width: none;
}

.popUp ul::-webkit-scrollbar {
  display: none; 
}

.popUp input {
  width: 80%;
  padding: 10px 20px;
}

.popUp button {
  width: 50%;
  color: white;
}

.popUpContainer {
  position: relative;
}

.triangle {
  position: absolute;
  z-index: 1;
  top: 45px;
  right: -5px;
}

.circle {
  position: absolute;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  top: 0;
  right: 0;
  background: linear-gradient(to right, var(--primary), var(--secondary));
  z-index: 4;
}

@media screen and (max-width: 768px) {
  .container {
    position: fixed;
    width: 100%;
    margin-left: 0;
    border-bottom: none;
  }

  .searchBar {
    width: 40%;
    margin-left: 0;
  }

  .icons {
    gap: 5px;
  }

  .notifications {
    justify-content: center;
    width: 100%;
    height: calc(100vh - 165px);
    left: 0;
  }

  .popUp {
    width: calc(100% - 40px);
    gap: 20px;
    margin: 0 20px;
  }

  .popUp ul {
    max-height: calc(100vh - 185px);
  }
}
